x-extra_hosts: &v-extra_hosts
  - "gateway.internal:172.30.30.1"
  - "valkey.internal:172.30.30.2"
  - "web.internal:172.30.30.3"
  - "api.internal:172.30.30.4"
  - "mariadb.internal:172.30.30.5"
  - "router.internal:172.30.30.69"

services:
  router:
    extra_hosts: *v-extra_hosts
    runtime: runsc
    restart: always
    container_name: caddy
    hostname: caddy.internal
    image: caddy:2-alpine
    user: 65534:65534
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./caddy/log:/var/log/caddy
      - ./caddy/config:/etc/caddy:ro
      - ./caddy/data:/data
      - ./config/resolv.conf:/etc/resolv.conf:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      sekai:
        ipv4_address: 172.30.30.69
      router:
        ipv4_address: 172.30.31.2
    depends_on:
      - web

  valkey:
    extra_hosts: *v-extra_hosts
    restart: always
    runtime: runsc
    container_name: valkey
    hostname: valkey.internal
    image: valkey/valkey:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    command: ["valkey-server", "/usr/local/etc/valkey/valkey.conf"]
    volumes:
      - ./valkey/conf/valkey.conf:/usr/local/etc/valkey/valkey.conf:ro
      - ./valkey/conf/users.acl:/usr/local/etc/valkey/users.acl:ro
      - ./valkey/data:/data
      - ./config/resolv.conf:/etc/resolv.conf:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      sekai:
        ipv4_address: 172.30.30.2

  web:
    extra_hosts: *v-extra_hosts
    # runtime: runsc
    restart: always
    container_name: web
    hostname: web.internal
    build:
      context: ./web/
    image: web
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    volumes:
      - ./web/data:/var/www/data
      - ./api/app/api/downloads/mysekai:/var/www/mysekai_assets:ro
      - ./api/app/api/downloads/character:/var/www/character_assets:ro
      - ./api/app/database/json/:/var/www/database:ro
      - ./web/www:/var/www/html:ro
      - ./web/mysekai:/var/www/mysekai:ro
      - ./web/shared:/var/www/shared:ro
      - ./web/config/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./web/config/fpm-pool.conf:/etc/php83/php-fpm.d/www.conf:ro
      - ./web/config/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./web/config/snakeoil.pem:/etc/nginx/snakeoil.pem:ro
      - ./web/config/snakeoil.key:/etc/nginx/snakeoil.key:ro
      - ./config/resolv.conf:/etc/resolv.conf:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      sekai:
        ipv4_address: 172.30.30.3
      api:
        ipv4_address: 172.30.32.3
    depends_on:
      - api
    healthcheck:
      disable: true

  api:
    extra_hosts: *v-extra_hosts
    runtime: runsc
    restart: always
    container_name: api
    hostname: api.internal
    build:
      context: ./api/
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    volumes:
      - ./api/init:/init:ro
      - ./api/crontab:/etc/cron.d/nobody:ro
      - ./api/app:/usr/src/app/
      - ./api/prediction:/usr/src/prediction/
      - ./api/runner:/usr/src/runner/
      - ./api/ikea:/usr/src/ikea/
      - ./config/resolv.conf:/etc/resolv.conf:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      sekai:
        ipv4_address: 172.30.30.4
      api:
        ipv4_address: 172.30.32.2
    depends_on:
      - mariadb
      - valkey

  # gvisor is discouraged due to I/O overhead
  mariadb:
    extra_hosts: *v-extra_hosts
    restart: always
    container_name: mariadb
    image: mariadb:latest
    hostname: mariadb.internal
    environment:
      - MARIADB_ROOT_HOST=gateway.internal
      - MARIADB_PORT=3306
      - MARIADB_ROOT_PASSWORD=redacted
      - MARIADB_DATABASE=sekai
      - MARIADB_USER=sekai
      - MARIADB_PASSWORD=sekai
      - TZ=Asia/Seoul
    volumes:
      - ./mariadb/data:/var/lib/mysql
      - ./mariadb/conf:/etc/mysql/mariadb.conf.d/:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      sekai:
        ipv4_address: 172.30.30.5
    security_opt:
      - no-new-privileges=true
      - seccomp=unconfined

  watchtower:
    restart: unless-stopped
    container_name: watchtower
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=Asia/Seoul
      - WATCHTOWER_POLL_INTERVAL=86400
      - WATCHTOWER_CLEANUP=true

networks:
  sekai:
    internal: true
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.30.0/24
          gateway: 172.30.30.1
  router:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.31.0/24
          gateway: 172.30.31.1

  api:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.32.0/24
          gateway: 172.30.32.1
