* {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar {
    color-scheme: dark;
    -webkit-appearance: none;
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba(123, 123, 123, .9);
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS 1", "SUIT Variable", sans-serif;
    background: #000;
    display: grid;
    min-height: 100vh;
}

table {
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #444;
  padding: 0.5rem;
}

th {
  background: #000 !important;
}

h1, h2, h3 {
  margin-top: 2rem;
}

.col-md-12 {
    min-width: 530px !important;
    max-width: 90% !important;
    margin: 0 0 0 20px;
    padding: 0;
}

.col-md-12 table {
    width: 100%;
}

#item_table td[rowspan]:nth-child(1) {
    background: #000 !important;
}

#header {
    align-self: flex-start;
    position: sticky;
    right: 0;
    left: 0;
    background: #111;
    border: 1px solid #333;
    padding: 10px;
    margin: 20px 20px;
    width: fit-content;
}

#content {
    display: flex;
    box-sizing: border-box;
    flex-shrink: 1;
    flex-grow: 0;
    flex-direction: column;
    flex-basis: fit-content;
    overflow: scroll;
    max-width: 100vw;
    max-height: 100vh;
}

#result {
    display: flex;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 1;
    flex-direction: row;
    flex-basis: fit-content;
    max-width: 100%;
    padding-bottom: 50px;
}

.inline-block {
    display: inline-block;
}

.form-check-input {
    margin-top: 0.3em;
}

.text-bg-success {
    background-color: RGBA(64,128,80,1) !important;
}
.text-bg-warning {
    background-color: RGBA(208,130,110,1) !important;
}
